<h3> If you love to make cocktails - it's site for you. Here you can find a lot  of different recipes of drinks. Site constantly updated with new recipes so you can enter and see them.</h3>>	
<%= image_tag("cocktail.jpeg", class: "img-responsive") %>
