<p>
  <strong>Name:</strong>
  <%= @recipes.name %>
</p>
 
<p>
  <strong>Recipe:</strong>
  <%= @recipes.recipe %>
</p>
<ul class="nav nav-pills">
   <li role="presentation"><%= link_to "Back", recipes_path %></li>
</ul>
  

